.outer{
    width: 544px;
}
.myCheckbox input,
.myCheckbox label {
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
}

.myCheckbox input {
    position: relative;
    z-index: 1;
    width: 20px;
    height: 20px;
}

.myCheckbox label {
    margin-top: 2px;
}